
<body>
    <h1>Admin Pannel</h1>
    <form action="/api/v1/messages" method="get">
        <input type="text" placeholder="Enter the ID to search for" name="q" value="{{query}}">
        <input type="submit" value="Search">
    </form>

    {{response}}
</body>